/* main color: #62C312 */
/* secondary color #72C92A */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px red solid; */
}


body {
  background: radial-gradient(circle at  105% 10%, #72C92A 40%, transparent 40% ,transparent 90%),#62C312;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: 'Playfair Display', serif;
}

p,
span {
  color: rgba(255, 255, 255, 0.815);
  font-family: 'Hind Vadodara', sans-serif;
}

body > * {
  max-width: 1310px;
  margin: auto;
  padding: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 50px;
  flex-basis: 1;
}

.logo h1 {
  font-size: 1.1rem;
}

.main-li {
  display: none;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

header ul a {
  color: #fff;
  text-decoration: none;
}

header ul li {
  display: inline-block;
  list-style: none;
}

header ul  a {
  /* padding: 2px 20px; */
}

.cart-icon {
  width: 14px;
  height: 14px;
  fill: #fff;
}

header .icon-li {
  margin: 0 5px;
}

header .icon-li a {
  border-radius: 50%;
  padding: 5px;
  position: relative;
}
header ul .heart-li a {
  background-color: rgba(255, 255, 255, 0.384);
}


header .icon-li:last-child a {
  background-color: rgb(216,5,90);
}

header .icon-li:last-child a::after {
  content: attr(data-cart);
  position: absolute;
  left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  color: #999;
}

/* 
.top-cover {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80%;
}

.top-cover > div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.top-cover img {
  width: 100%; */
  /* transform: rotate(-15deg); */
/* } */

/* .top-cover::after {
  content: '';
  display: block;
  position: absolute;
  right: 0%;
  bottom: -10%;
  background-image: url('../img/headerimg.png') ;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: -1;
  width: 120%;
  height: 120%;
  /* transform: rotate(-15deg); */
/* } */ 

/* .top-cover div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20%;
  height: 100%;
} */
/* 
.top-cover h2 {
  color: #fff;
  font-size: 3rem;
  /* max-width: 50%; */
/* }

.top-cover > div > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
*/

.top-cover > div > * {
  text-align: center;
}

.top-cover-text h2 {
  margin: 60px 0 30px;
}

.cover-button,
.footer-subscribe {
  outline: none;
  border: 1px solid #555;
  margin: auto;
  display: block;
  color: #fff;
  border-radius: 25px;
  text-transform: capitalize;
}

.cover-button {
  background-color: rgb(216,5,90);
  padding: 10px 20px;
  margin-top: 40px;
}

.footer-subscribe {
  padding: 10px 20%;
  background-color: #55BF00;
}

.cover-img img {
  width: 100%;
}

.google-maps {
  position: relative;
  padding-bottom: 50vh;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

footer {
  background-color: #fff;
  max-width: 100%;
  color: #555;
  padding: 10px 5px;
}

footer p,
footer span {
  color: #555;
}

footer > div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 20px 5px;
  color: #555;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: #555;
  padding: 10px;
  display: block;
}
